<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>aaa</display-name>


	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>studentServlet.StudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/stus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BanJiServlet</servlet-name>
		<servlet-class>studentServlet.BanJiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BanJiServlet</servlet-name>
		<url-pattern>/bjs</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SubjectServlet</servlet-name>
		<servlet-class>studentServlet.SubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectServlet</servlet-name>
		<url-pattern>/subs</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ScoreServlet</servlet-name>
		<servlet-class>studentServlet.ScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreServlet</servlet-name>
		<url-pattern>/scores</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>studentServlet.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
<!-- 		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file> -->
	</welcome-file-list>
</web-app>